body {
    margin: 0;
    background: #000000;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 80vh;
    max-width: 80vh;
    box-shadow: 0 0 30px 16px rgba(255, 255, 255, 1);
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    padding:20px 100px 20px 100px;
    text-align: center;
    background-color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 180px);
    border-radius: 20px;
    font-family: 'Prompt', sans-serif;
  }

  .hide {
    display: none;
  }